<h1>Stupid Coaching</h1>

<div class="container">
  <h3><%= @message %></h3>
  <p>- You</p>
</div>

<div class="container">
  <h4><%= @answers %></h4>
  <p>- Your coach</p>
</div>

<%= link_to "Ask a new question", '/ask' %>
